.imageContainer {
    position: relative
}

.figure img {
    filter: brightness(60%);
}

.container {
    isolation: isolate;
    min-height: 100vh;
    color: var(--dark-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container nav {
    padding: 16px;
}

.main {
  isolation: isolate;
  padding: 40px;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 80%;
  line-height: 1;
}

.attribution {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribution h2 {
    padding-left: 8px;
  font-size: 1.2rem;
  font-weight: normal;
}
